body {
    background-color: lightgoldenrodyellow;
    height: 416px;
}

/* title of the webpage */

.title {
    grid-area: title;
    font-size: 30px;
    font-style: normal;
    font-family: "Bradley Hand ITC";
    font-weight: bold;
    padding: 0.25em;
    text-align: center;
    margin-left: 22%;
    margin-top: 4%
}

html {
    box-sizing: border-box;
}
/* CSS Flexbox - styling the row for the logo and title to be placed into */
.Logo-row {
    display: flex;
}
/* Creates three equal columns that sit next to each other */
.Logo-column {
    padding: 10px;
}

